/observer-chat/observer-chat.iml
/observer-chat/build
/observer-chat/.idea
/.idea
# Created by .ignore support plugin (hsz.mobi)
/eventbus-chat/eventbus-chat.iml
/eventbus-chat/build
/eventbus-chat/src/main/groovy/.vertx
